<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title><{$Think.config.site_name}>-关于我们</title>
	<style>
		
 		
	</style>
</head>
<body>
&nbsp;
<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">关于我们</div>
	    <div class="panel-body">
	        <p><img src="__PUBLIC__/img/1680.jpg" class="img-rounded"><h4>168轻应用</h4>	
	        本应用基于PHP开发，主要用于168班各种信息发布于查询。配合老师的管理工作。
	        </p>
	    </div>
	    <ul class="list-group">
	        <li class="list-group-item"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;孝义市第三中学168班</li>
	        <li class="list-group-item"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;15534378771</li>
	        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:hxb0810@163.com">hxb0810@163.com</a></li>
	        <li class="list-group-item"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Version:1.0.3</li>
	        <li class="list-group-item"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;<a href="#">意见建议</a></li>
	        <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;<a href="http://halex.coding.me/">个人博客</a></li>
	    </ul>
	    <div class="panel-footer text-center">版权所有 © hxb0810</div>
	</div>
</div>

</body>
</html>