<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	
	<title><{$Think.config.site_name}>—违纪登记</title>
	<style>
		.red{color: red;}
		
	
	</style>
	<script>
	function sub(){
		if(confirm("确定要修改<?php echo '['.$out['sname'].']'; ?>的违纪记录吗？")){
		return true;
		}else{
		return false;
		}
	}
	</script>

</head>
<body>
&nbsp;
<div class="container">
		<form action="__URL__/do_oedit/sid/<{$out['sid']}>" method="post" id="form" role="form">
				<div class="form-group">
			      <label for="sname">姓名：</label>
			      <input type="text" class="form-control" name="sname" id="sname" title='学生姓名' value="<{$out.sname}>">
			   </div>
			   <div class="form-group">
			      <label for="outlines">违纪条目：</label>
			      	<select name="outlines" id="outlines"class="form-control"datatype="*">
			      		<option value="<{$out.outlines}>"><{$out.outlines}></option>
			      		<option value="迟到">迟到</option>
			      		<option value="上课说话">上课说话</option>
			      		<option value="上课吃东西">上课吃东西</option>
			      		<option value="上课睡觉">上课睡觉</option>
			      		<option value="上课走神">上课走神</option>
			      		<option value="上课传纸条">上课传纸条</option>
			      		<option value="言语不文明">言语不文明</option>
			      		<option value="顶撞老师">顶撞老师</option>
			      		<option value="不写作业">不写作业</option>
			      		<option value="态度傲慢">态度傲慢</option>
			      		<option value="打架斗殴">打架斗殴</option>
			      		<option value="谈情说爱">谈情说爱</option>
			      		<option value="其它">其它</option>
				</select>
			   </div>
			   <div class="form-group">
			      <label for="remark">备注：</label>
			      <input type="text" class="form-control" name="remark" id="remark" title='备注' value="<{$out.remark}>">
			   </div>
			   <div class="form-group">
			      <label for="time">时间：</label>
			      <input type="text" class="form-control" name="time" id="time" title='时间' value="<{$out.time}>">
			   </div>
			   <div class="form-group">
			      <label for="booker">登记人：</label>
			      	<select name="booker" id="booker"class="form-control"datatype="*">
			      		<option value="<{$out.booker}>"><{$out.booker}></option>
			      		<option value="班主任">班主任</option>
			      		<option value="(语文)魏老师">(语文)魏老师</option>
			      		<option value="(数学)张老师">(数学)张老师</option>
			      		<option value="(英语)李老师">(英语)李老师</option>
			      		<option value="(化学)李老师">(化学)李老师</option>
			      		<option value="(生物)杨老师">(生物)杨老师</option>
			      		<option value="(政治)霍老师">(政治)霍老师</option>
			      		<option value="(历史)赵老师">(历史)赵老师</option>
			      		<option value="(地理)温老师">(地理)温老师</option>
			  
				</select>
				</div>
				<div class="form-group">
			      <label for="status">状态：</label>
			      	<select name="status" id="status" class="form-control">
			      	<switch name="out.status">
					 <case value="0"><option value="0">处理中...</option></case>
					<case value="1"><option value="1">已处理</option></case>
					<default />
					 </switch>
			      		<option value="0">处理中...</option>
			      		<option value="1">已处理</option>
			  
				</select>
				</div>
				<div class="form-group">
			      <label for="processor">处理人：</label>
			      	<select name="processor" id="processor" class="form-control">
			      		<option value="<{$out.processor}>"><{$out.processor|default="无"}></option>
			      		<option value="班主任">班主任</option>
			      		<option value="年级组">年级组</option>
			      		<option value="学校政教处">学校政教处</option>
			  
				</select>
				</div>
				<div class="form-group">
			      <label for="processmode">处理方式：</label>
			      	<select name="processmode" id="processmode" class="form-control">
			      		<option value="<{$out.processmode}>"><{$out.processmode|default="无"}></option>
			      		<option value="谈话">谈话</option>
			      		<option value="约谈家长">约谈家长</option>
			      		<option value="学校处分">学校处分</option>
			  
				</select>
				</div>
			   
			   <button type="submit" class="btn btn-success btn-block" title="提交"onclick="return sub();">提交</button>
			   
			   
		</form>
</div>
&nbsp;<br><br>
</body>
</html>