<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title><{$Think.config.site_name}>—用户修改</title>
	<style>
		.red{color: red;}
		
	
	</style>
	<script>
	function sub(){
		if(confirm("确定要修改<?php echo '['.$user['nickname'].']'; ?>的信息吗？")){
		return true;
		}else{
		return false;
		}
	}
	</script>

</head>
<body>
&nbsp;
<div class="container">
<b class="red"></b><br>
		<form action="__URL__/do_uedit/uid/<{$user['uid']}>" method="post" id="form"role="form"class="registerform">
				<div class="form-group">
			      <label for="nickname">昵称：</label>
			      <input type="text" class="form-control" name="nickname" id="nickname" title='昵称' value="<{$user.nickname}>">
			   </div>
			   <div class="form-group">
			      <label for="uname">姓名：</label>
			      <input type="text" class="form-control" name="uname" id="uname" title='用户名' value="<{$user.uname}>">
			   </div>
			   <div class="form-group">
			      <label for="sex">性别：</label>
			      	<select name="sex" id="sex" class="form-control"datatype="*">
			      		<option value="<{$user.sex}>"><{$user.sex}></option>
			      		<option value="男">男</option>
			      		<option value="女">女</option>
			      		
				</select>
			   </div>
			   <div class="form-group">
			      <label for="tel">电话：</label>
			      <input type="text" class="form-control" name="tel" id="tel" title='电话号码' value="<{$user.tel|default="未填"}>">
			   </div>
			   <div class="form-group">
			      <label for="position">职　位：</label>
			      	<select name="position" id="position" class="form-control"datatype="*">
			      		<option value="<{$user.position}>"><{$user.position}></option>
			      		<option value="管理员">管理员</option>
			      		<option value="校长">校长</option>
			      		<option value="副校长">副校长</option>
			      		<option value="年级主任">年级主任</option>
			      		<option value="班主任">班主任</option>
			      		<option value="教师">教师</option>
			      		
				</select>
			   </div>
			   <div class="form-group">
			      <label for="department">年级：</label>
			      	<select name="grade" id="department"class="form-control"datatype="*">
			      		<option value="<{$user.grade}>"><{$user.grade}></option>
			      		<option value="1">高一</option>
			      		<option value="2">高二</option>
			      		<option value="3">高三</option>
					
				</select>
			   </div>
			   <div class="form-group">
			      <label for="class">班级：</label>
			      <input type="text" class="form-control" name="class" id="class" title='班级' value="<{$user.class|default="未填"}>">
			   </div>
			   <div class="form-group">
			      <label for="subject">科目：</label>
			      	<select name="subject" id="subject" class="form-control">
			      		<option value="<{$user.subject|default="未填"}>"><{$user.subject|default="未填"}></option>
			      		<option value="语文">语文</option>
			      		<option value="数学">数学</option>
			      		<option value="英语">英语</option>
			      		<option value="物理">物理</option>
			      		<option value="化学">化学</option>
			      		<option value="生物">生物</option>
			      		<option value="政治">政治</option>
			      		<option value="历史">历史</option>
			      		<option value="地理">地理</option>
			      		
				</select>
			   </div>
			   <div class="form-group">
			      <label for="class">权限：</label>
			      <input type="text" class="form-control" name="power" id="power" title='权限' value="<{$user.power|default="未填"}>">
			   </div>
			   <button type="submit" class="btn btn-success btn-block" title="提交"onclick="return sub();">提交</button>
		</form>
</div>
&nbsp;
&nbsp;
&nbsp;


</body>
</html>