<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<load href="__PUBLIC__/css/Validform.css" />
	<load href="__PUBLIC__/js/jquery-1.9.1.min.js" />
	<load href="__PUBLIC__/js/Validform_v5.3.2_min.js" />
	<title><{$Think.config.site_name}>—违纪登记</title>
	<style>
		.red{color: red;}
		
	
	</style>
	<script>
	function sub(){
		if(confirm("确定要提交【"+$("#sname").val()+"】的违纪记录吗？")){
		return true;
		}else{
		return false;
		}
	}
	</script>

</head>
<body>
&nbsp;
<div class="container">
		<form action="__URL__/do_outlines"method="post" id="form"role="form"class="registerform">
				<div class="form-group">
			      <label for="sname">姓名：</label>
			      <input type="text" class="form-control" name="sname" id="sname" title='学生姓名' placeholder="请填写学生姓名"datatype="zh2-4"  sucmsg="输入正确！" nullmsg="不能为空！" errormsg="请输入2-4位中文！">
			   </div>
			   <div class="form-group">
			      <label for="outlines">违纪条目：</label>
			      	<select name="outlines" id="outlines"class="form-control"datatype="*">
			      		<option value="">请选择．．．</option>
			      		<option value="迟到">迟到</option>
			      		<option value="上课说话">上课说话</option>
			      		<option value="上课吃东西">上课吃东西</option>
			      		<option value="上课睡觉">上课睡觉</option>
			      		<option value="上课走神">上课走神</option>
			      		<option value="上课传纸条">上课传纸条</option>
			      		<option value="言语不文明">言语不文明</option>
			      		<option value="顶撞老师">顶撞老师</option>
			      		<option value="不写作业">不写作业</option>
			      		<option value="态度傲慢">态度傲慢</option>
			      		<option value="打架斗殴">打架斗殴</option>
			      		<option value="谈情说爱">谈情说爱</option>
			      		<option value="其它">其它</option>
				</select>
			   </div>
			   <div class="form-group">
			      <label for="remark">备注：</label>
			      <input type="text" class="form-control" name="remark" id="remark" title='备注' placeholder="请填写备注">
			   </div>
			   <div class="form-group">
			      <label for="time">时间：</label>
			      <input type="text" class="form-control" name="time" id="time" title='时间' placeholder="请填写违纪时间，如：上课期间，上课前等">
			   </div>
			   <div class="form-group">
			      <label for="booker">登记人：</label>
			      	<select name="booker" id="booker"class="form-control"datatype="*">
			      		<option value="">请选择．．．</option>
			      		<option value="班主任">班主任</option>
			      		<option value="(语文)魏老师">(语文)魏老师</option>
			      		<option value="(数学)张老师">(数学)张老师</option>
			      		<option value="(英语)李老师">(英语)李老师</option>
			      		<option value="(化学)李老师">(化学)李老师</option>
			      		<option value="(生物)杨老师">(生物)杨老师</option>
			      		<option value="(政治)霍老师">(政治)霍老师</option>
			      		<option value="(历史)赵老师">(历史)赵老师</option>
			      		<option value="(地理)温老师">(地理)温老师</option>
			  
				</select>
				</div>
			   
			   <button type="submit" class="btn btn-success btn-block" title="提交"onclick="return sub();">提交</button>
			   <button type="reset" class="btn btn-info btn-block" title="重置">重置</button>
			   
		</form>
</div>
&nbsp;
<script type="text/javascript">
// $(function(){
// 	//$(".registerform").Validform();  //就这一行代码！;
		
// 	$(".registerform").Validform({
// 		tiptype:3
// 	});
// })

</script>
<script type="text/javascript">
$(function(){
	//$(".registerform").Validform();  //就这一行代码！;
		
	var demo=$(".registerform").Validform({
		tiptype:3,
		//label:".label",
		showAllError:true,
		datatype:{
			"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
		},
		//ajaxPost:true
	});
	
	//通过$.Tipmsg扩展默认提示信息;
	//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
	//demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
	
	//demo.addRule([{
		//ele:".inputxt:eq(0)",
		//datatype:"zh2-4"
	//}
	//]);
	
})
</script>
</body>
</html>